/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    background-image: url('bg.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure full viewport height */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px; /* Add letter spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow for sharp look */
}

form {
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
}

input[type="number"],
input[type="text"],
input[type="range"] {
    width: calc(100% - 30px);
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

span {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: #000000;
}

button {
    width: 100%;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #505155;
}

#result {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px; /* Add padding */
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}
